[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp
